SUPABASE_URL = ""
SUPABASE_KEY = ""

NEXT_PUBLIC_SUPABASE_URL = ""
NEXT_PUBLIC_SUPABASE_KEY = ""

VOYAGE_API_KEY = ""
VOYAGE_MODEL = "voyage-law-2" #voyage-large-2-instruct,voyage-multilingual-2,voyage-code-2,voyage-large-2,voyage-law-2,voyage-finance-2

GEMINI_API_KEY = ""
GEMINI_MODEL = "gemini-1.5-flash-latest"
MAX_OUT_TOKEN = "4096"

UNSTRUCTURED_API_URL = "" 
UNSTRUCTURED_API_KEY = ""


PINECONE_API_KEY = ""
PINECONE_INDEX = ""
PINECONE_ENVIRONMENT= ""